<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
  <div>Team,</div>
  <div><br></div>
  <div>A SWPPP Plan has been received (see attached) from "<strong>{{vendorName}}</strong>" for a project with the following details:</div>
  <div><br></div>
  <div>Here are the key details:</div>
  <ul style="margin-top:0; margin-bottom:0">
    <li><div>Job Name: <strong>{{jobName}}</strong></div></li>
    <li><div>Customer Name: {{customerName}}</div></li>
    <li><div>Job Location: {{jobLocation}}</div></li>
  </ul>
  <div><br></div>
  <div>Please prepare for Billing.</div>
  <div><br></div>
  <div>Best,</div>
  <div>--</div>
  <div><br></div>
  <div>Chi Ejimofor</div>
  <div>Project Coordinator</div>
  <div>Desert Services LLC</div>
  <div>E: <a href="mailto:chi@desertservices.net">chi@desertservices.net</a></div>
  <div>M: (304) 405-2446</div>
  <div><img src="cid:logo" alt="Desert Services LLC" width="264" style="max-width:100%"></div>
</body>
</html>
