<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div>
      <div>{{signDetails}}</div>
      
      {{#if additionalMessage}}
        <div>
          <br>
        </div>
        <div>{{additionalMessage}}</div>
      {{/if}}
      
      <div>
        <br>
      </div>
      <div>Thank you!{{#if showDoubleExclamation}}!{{/if}}</div>
      
      <div>
        <br>
      </div>
      <div>Best,</div>
      <div>--</div>
      <div>
        <br>
      </div>
      <div>Chi Ejimofor</div>
      <div>Project Coordinator</div>
      <div>
        E: <a href="mailto:chi@desertservices.net">chi@desertservices.net</a>
      </div>
      <div>M: (304) 405-2446</div>
      <div>
        <img
          src="cid:logo"
          alt="Desert Services LLC"
          width="264"
          style="max-width:100%"
        >
      </div>
    </div>
  </body>
</html>
