<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
  <div style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
    {{{body}}}
    <div><br></div>
    {{{signature}}}
    {{#if showLogo}}<div><img src="{{{logoSrc}}}" alt="Desert Services LLC" width="264" style="max-width:100%"></div>{{/if}}
  </div>
  </body>
</html>
