@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9848 0 0);
  --foreground: oklch(0.21 0.0101 264.3296);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.21 0.0101 264.3296);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.21 0.0101 264.3296);
  --primary: oklch(0.7073 0.1512 64.1535);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9466 0 0);
  --secondary-foreground: oklch(0.21 0.0101 264.3296);
  --muted: oklch(0.9466 0 0);
  --muted-foreground: oklch(0.5547 0 0);
  --accent: oklch(0.9234 0 0);
  --accent-foreground: oklch(0.7073 0.1512 64.1535);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8845 0 0);
  --input: oklch(0.9234 0 0);
  --ring: oklch(0.7073 0.1512 64.1535);
  --chart-1: oklch(0.7073 0.1512 64.1535);
  --chart-2: oklch(0.7341 0.1296 177.5956);
  --chart-3: oklch(0.5975 0.1822 287.1986);
  --chart-4: oklch(0.7646 0.1468 88.4164);
  --chart-5: oklch(0.653 0.2569 328.0325);
  --sidebar: oklch(0.9619 0 0);
  --sidebar-foreground: oklch(0.21 0.0101 264.3296);
  --sidebar-primary: oklch(0.7073 0.1512 64.1535);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9234 0 0);
  --sidebar-accent-foreground: oklch(0.7073 0.1512 64.1535);
  --sidebar-border: oklch(0.8452 0 0);
  --sidebar-ring: oklch(0.7073 0.1512 64.1535);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-mono: "JetBrains Mono", monospace;
  --radius: 0.3rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm:
    0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md:
    0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg:
    0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl:
    0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0);
}

.dark {
  --background: oklch(0.21 0.0101 264.3296);
  --foreground: oklch(0.9234 0 0);
  --card: oklch(0.1884 0.0083 264.3538);
  --card-foreground: oklch(0.9234 0 0);
  --popover: oklch(0.1884 0.0083 264.3538);
  --popover-foreground: oklch(0.9234 0 0);
  --primary: oklch(0.7073 0.1512 64.1535);
  --primary-foreground: oklch(0.21 0.0101 264.3296);
  --secondary: oklch(0.2617 0.0144 264.2878);
  --secondary-foreground: oklch(0.9234 0 0);
  --muted: oklch(0.2617 0.0144 264.2878);
  --muted-foreground: oklch(0.683 0 0);
  --accent: oklch(0.311 0.0184 264.2611);
  --accent-foreground: oklch(0.7073 0.1512 64.1535);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9234 0 0);
  --border: oklch(0.3705 0 0);
  --input: oklch(0.2915 0.0168 264.2705);
  --ring: oklch(0.7073 0.1512 64.1535);
  --chart-1: oklch(0.7073 0.1512 64.1535);
  --chart-2: oklch(0.7341 0.1296 177.5956);
  --chart-3: oklch(0.5975 0.1822 287.1986);
  --chart-4: oklch(0.7646 0.1468 88.4164);
  --chart-5: oklch(0.653 0.2569 328.0325);
  --sidebar: oklch(0.231 0.0119 264.3103);
  --sidebar-foreground: oklch(0.9234 0 0);
  --sidebar-primary: oklch(0.7073 0.1512 64.1535);
  --sidebar-primary-foreground: oklch(0.21 0.0101 264.3296);
  --sidebar-accent: oklch(0.311 0.0184 264.2611);
  --sidebar-accent-foreground: oklch(0.7073 0.1512 64.1535);
  --sidebar-border: oklch(0.3705 0 0);
  --sidebar-ring: oklch(0.7073 0.1512 64.1535);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
